body{
    background-color: #B9C8BC;
}
#spreadInfo{
    margin: 20px;
    padding: 20px;
    background-color: #f2f3f4;
    border-radius: 25px;
}
.btn{
    margin-left: auto;
    background-color: #3A6A59;
    color: #ffffff;
}
.row{
    padding-top: 15px;
    padding-bottom: 15px;
}
