body{
    background-color: #B9C8BC;
}
#info{
    margin: 20px;
    padding: 20px;
    background-color: #f2f3f4;
    border-radius: 25px;
}
.btn-lg {
    margin-left: auto;
    background-color: #3A6A59;
    color: #f2f3f4;
}
