{% extends "layout.html" %}

{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='edit.css')}}">
        <script type="text/javascript" src="{{ url_for('static', filename = 'edit.js') }}"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <script>
            $( function() {
                var spreadNames = [
                  "Daily", "Past, Present, Future", "Celtic Cross", "Situation, Obstacle, Advice", "Mind, Body, Spirit",
                  "Six Month Spread", "Year Ahead Spread", "Month Ahead Spread", "Week Ahead Spread", "Five Card Cross"
                  ];
                $( "#spreadType" ).autocomplete({
                    source: spreadNames
                    });
            });
            $(document).ready(function() {
                let id = {{id|tojson}}
                let info = display_info(id)
                $("#discard").click(function(){
                    event.preventDefault();
                    if (confirm('Are you sure ?')) {
                         location.assign("http://127.0.0.1:5000/view/" + id)
                    }
                    else {
                    }
                })
            })
        </script>
    </head>
    <body>
        <div id = "container">
            <div id = "jumbotron">
                <h1>Edit Tarot Spread Log</h1> <button type='button' id='delete' class='btn btn-lg btn-danger'>Delete</button>
            </div>
            <div id = "see-created">
            </div>
            <div id = "info">
                <form id = "editSpread">
                    <label for="spreadType">Spread Type: </label>
                    <input type="text" id="spreadType" name="spreadType">
                    <div class ="warning_div" id="spreadType_warning_div"></div><br>

                    <label for="date">Date: </label>
                    <input type="text" id="date" name="date">
                    <div class ="warning_div" id="date_warning_div"></div><br>

                    <label for="question">Question Asked: </label>
                    <textarea rows="2" cols="40" id="question" name="question">
                    </textarea>
                    <div class ="warning_div" id="question_warning_div"></div><br>

                    <label for="numCards">Number of Cards: </label>
                    <input type="text" id="numCards" name="numCards">
                    <div class ="warning_div" id="num_cards_warning_div"></div><br>

                    <label for="cards">Cards Drawn: </label>
                    <input type="text" id="cards" name="cards">
                    <div class ="warning_div" id="cards_warning_div"></div><br>

                    <label for="reader"> Reader: </label>
                    <input type="reader" id="reader" name="reader">
                    <div class ="warning_div" id="reader_warning_div"></div><br>

                    <label for="deck">Deck Used: </label>
                    <input type="text" id="deck" name="deck">
                    <div class ="warning_div" id="deck_warning_div"></div><br>

                    <label for="notes">Notes: </label>
                    <textarea rows="4" cols="40" id="notes" name="notes">
                    </textarea>
                  <div id = "button-grp">
                      <input type="submit" id = "submit-button" class = "btn" value="Submit">
                      <button type="button" id="discard" class="btn btn-danger">Discard Changes</button>
                  </div>

                 </form>
            </div>
        </div>
    </body>
<html>
{% endblock %}
