{% extends "layout.html" %}

{% block content %}

<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
        <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>
        <script>
            $(document).ready(function() {
                let featuredSpreads = display_all()
            })

        </script>
    </head>
    <body>
        <div class = "container">
            <div id = "jumbotron">
                <h1>All Spreads</h1> <button type = 'button' id='add' class ='btn btn-lg'>+</button>
            </div>
            <div id = "spreadInfo">
                <div class = "row" id = "heading">
                    <div class = "col-md-5 question-header">
                        <h4>Question</h4>
                    </div>
                    <div class = "col-md-3 type-header">
                        <h4>Spread Type</h4>
                    </div>
                    <div class = "col-md-2 topic-header">
                        <h4>Date</h4>
                    </div>
                    <div class = "col-md-2 button-header">
                    </div>
                </div>
                <div id = "results">
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}
