{% extends "layout.html" %}

{% block content %}

<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
        <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>
        <script>
            $(document).ready(function() {
                let featuredSpreads = display_all()
            })

        </script>
    </head>
    <body>
        <div class = "container">
            <div id = "jumbotron">
                <h2>All Spreads</h2>
            </div>
            <div class = "row">
                <div class = "col-md-6 question-header">
                    <b>Question</b>
                </div>
                <div class = "col-md-2 type-header">
                    <b>Spread Type</b>
                </div>
                <div class = "col-md-2 topic-header">
                    <b>Date</b>
                </div>
                <div class = "col-md-2 button-header">
                </div>
            </div>
            <div id = "results">
            </div>
        </div>
    </body>
</html>

{% endblock %}
