<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="icon" href="data:,">

<!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script>
  $(document).ready(function(){
      $("#target").submit(function(event){
          event.preventDefault()
          bookVal = $("#enter_book").val()
          if($.trim(bookVal).length > 0){
              location.replace("/search/"+bookVal);
          }
          // sends to python code
      });
      $( "#add" ).click(function() {
          location.replace("/add");
      });
  });
  </script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

  <!--<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}"> -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link rel="shortcut icon" href="/favicon.ico">
    <title>Tarot Spread Logger</title>
  </head>
  <body>

<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <div class="container">
    <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/114/sparkles_2728.png" width="30" height="30"alt="" class="title-img"></img>
    <a class="navbar-brand" href="/">Tarot Spread Logger</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

      </div>
      <div class="topnav-right">
          <form id="target">
              <input type="text" placeholder="Search Spreads" id="enter_book">
              <input type="button" class = "btn search-btn" value="Go">
          </form>
      </div>
    </div>
  </div>
</nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

  </body>
</html>
